# 1/ Partie Extraction :

In [5]:
import pandas as pd

In [6]:
import pandas as pd

# Chemin du fichier CSV
file_path = r"C:\Users\21654\Desktop\Projet_Mariem_Ben_Miled\Most_Valuable_Player\mvps_awards.csv"

# Lire le fichier CSV et le stocker dans un DataFrame
try:
    mvps_df = pd.read_csv(file_path)
    print("Données chargées avec succès dans le DataFrame.")
    
    # Afficher les premières lignes pour vérifier
    print(mvps_df.head())
except Exception as e:
    print(f"Erreur lors du chargement des données : {e}")

Données chargées avec succès dans le DataFrame.
   Unnamed: 0 Rank           Player  Age   Tm  First  Pts Won  Pts Max  Share  \
0           0    1   Michael Jordan   27  CHI     77      891      960  0.928
1           1    2    Magic Johnson   31  LAL     10      497      960  0.518
2           2    3   David Robinson   25  SAS      6      476      960  0.496
3           3    4  Charles Barkley   27  PHI      2      222      960  0.231
4           4    5      Karl Malone   27  UTA      0      142      960  0.148

    G  ...   TRB   AST  STL  BLK    FG%    3P%    FT%    WS  WS/48  Year
0  82  ...   6.0   5.5  2.7  1.0  0.539  0.312  0.851  20.3  0.321  1991
1  79  ...   7.0  12.5  1.3  0.2  0.477  0.320  0.906  15.4  0.251  1991
2  82  ...  13.0   2.5  1.5  3.9  0.552  0.143  0.762  17.0  0.264  1991
3  67  ...  10.1   4.2  1.6  0.5  0.570  0.284  0.722  13.4  0.258  1991
4  82  ...  11.8   3.3  1.1  1.0  0.527  0.286  0.770  15.5  0.225  1991

[5 rows x 22 columns]

In [7]:
import pandas as pd

# Chemin du fichier CSV
file_path = r"C:\Users\21654\Desktop\Projet_Mariem_Ben_Miled\NBA_Player_Stats_Per_Game\players_Stats.csv"

# Lire le fichier CSV et le stocker dans un DataFrame
try:
    players_stats_df = pd.read_csv(file_path)
    print("Données chargées avec succès dans le DataFrame.")
    
    # Afficher les premières lignes pour vérifier
    print(players_stats_df.head())
except Exception as e:
    print(f"Erreur lors du chargement des données : {e}")

Données chargées avec succès dans le DataFrame.
   Unnamed: 0 Rk           Player Age Team Pos   G  GS    MP    FG  ...  DRB  \
0           0  1   Michael Jordan  27  CHI  SG  82  82  37.0  12.1  ...  4.6
1           1  2      Karl Malone  27  UTA  PF  82  82  40.3  10.3  ...  8.9
2           2  3     Bernard King  34  WSB  SF  64  64  37.5  11.1  ...  3.2
3           3  4  Charles Barkley  27  PHI  SF  67  67  37.3   9.9  ...  6.3
4           4  5    Patrick Ewing  28  NYK   C  81  81  38.3  10.4  ...  8.8

    TRB  AST  STL  BLK  TOV   PF   PTS                 Awards  Year
0   6.0  5.5  2.7  1.0  2.5  2.8  31.5   MVP-1,DPOY-7,AS,NBA1  1991
1  11.8  3.3  1.1  1.0  3.0  3.3  29.0          MVP-5,AS,NBA1  1991
2   5.0  4.6  0.9  0.3  4.0  2.9  28.4         MVP-16,AS,NBA3  1991
3  10.1  4.2  1.6  0.5  3.1  2.6  27.6          MVP-4,AS,NBA1  1991
4  11.2  3.0  1.0  3.2  3.6  3.5  26.6  MVP-11,DPOY-7,AS,NBA2  1991

[5 rows x 33 columns]

In [8]:
import pandas as pd

# Chemin du troisième fichier CSV
file_path_3 = r"C:\Users\21654\Desktop\Projet_Mariem_Ben_Miled\Teams_Stats\teams_Stats.csv"

# Lire le fichier CSV et le stocker dans un DataFrame
try:
    teams_df = pd.read_csv(file_path_3)
    print("Données chargées avec succès dans le DataFrame.")
    
    # Afficher les premières lignes pour vérifier
    print(teams_df.head())
except Exception as e:
    print(f"Erreur lors du chargement des données : {e}")

Données chargées avec succès dans le DataFrame.
   Unnamed: 0   W   L  W/L%    GB   PS/G   PA/G    SRS  Year  \
0           0  56  26  .683     —  111.5  105.7   5.22  1991
1           1  44  38  .537  12.0  105.4  105.6  -0.39  1991
2           2  39  43  .476  17.0  103.1  103.3  -0.43  1991
3           3  30  52  .366  26.0  101.4  106.4  -4.84  1991
4           4  26  56  .317  30.0  102.9  107.5  -4.53  1991

                  Team
0      Boston Celtics*
1  Philadelphia 76ers*
2     New York Knicks*
3   Washington Bullets
4      New Jersey Nets

# 2/ Transformation

In [9]:
mvps_df

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,2,3,David Robinson,25,SAS,6,476,960,0.496,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,4,5,Karl Malone,27,UTA,0,142,960,0.148,82,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,8,9,Stephen Curry,34,GSW,0,5,1000,0.005,56,...,6.1,6.3,0.9,0.4,0.493,0.427,0.915,7.8,0.192,2023
495,9,10,Jimmy Butler,33,MIA,0,3,1000,0.003,64,...,5.9,5.3,1.8,0.3,0.539,0.350,0.850,12.3,0.277,2023
496,10,11,De'Aaron Fox,25,SAC,0,2,1000,0.002,73,...,4.2,6.1,1.1,0.3,0.512,0.324,0.780,7.4,0.146,2023
497,11,12T,Jalen Brunson,26,NYK,0,1,1000,0.001,68,...,3.5,6.2,0.9,0.2,0.491,0.416,0.829,8.7,0.175,2023
498,12,12T,Ja Morant,23,MEM,0,1,1000,0.001,61,...,5.9,8.1,1.1,0.3,0.466,0.307,0.748,6.0,0.148,2023

In [10]:
mvps_df.head()

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,2,3,David Robinson,25,SAS,6,476,960,0.496,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,4,5,Karl Malone,27,UTA,0,142,960,0.148,82,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [11]:
mvps =mvps_df[["Player","Year","Pts Won","Pts Max","Share"]]

In [12]:
mvps.head()

            Player  Year  Pts Won  Pts Max  Share
0   Michael Jordan  1991      891      960  0.928
1    Magic Johnson  1991      497      960  0.518
2   David Robinson  1991      476      960  0.496
3  Charles Barkley  1991      222      960  0.231
4      Karl Malone  1991      142      960  0.148

In [13]:
players_stats_df

,Unnamed: 0,Rk,Player,Age,Team,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,1,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1",1991
1,1,2,Karl Malone,27,UTA,PF,82,82,40.3,10.3,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,2,3,Bernard King,34,WSB,SF,64,64,37.5,11.1,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,3,4,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,4,5,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20887,778,569,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
20888,779,570,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20889,780,571,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20890,781,572,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20891,782,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [14]:
del players_stats_df["Rk"]

In [15]:
players_stats_df

,Unnamed: 0,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1",1991
1,1,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,2,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,3,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,4,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20887,778,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
20888,779,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20889,780,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20890,781,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20891,782,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [16]:
players_stats_df["Player"].head(60)

0        Michael Jordan
1           Karl Malone
2          Bernard King
3       Charles Barkley
4         Patrick Ewing
5         Michael Adams
6     Dominique Wilkins
7          Chris Mullin
8        David Robinson
9     Orlando Woolridge
10       Mitch Richmond
11         Tim Hardaway
12        Reggie Miller
13        Kevin Johnson
14       Hersey Hawkins
15        Tony Campbell
16       Brad Daugherty
17        Clyde Drexler
18         James Worthy
19      Hakeem Olajuwon
20         Ricky Pierce
21         Ricky Pierce
22         Ricky Pierce
23           Joe Dumars
24          Roy Tarpley
25         Antoine Carr
26        Charles Smith
27       Wayman Tisdale
28     Rolando Blackman
29         Tom Chambers
30               Player
31         Derek Harper
32           Ron Harper
33           Larry Bird
34        Magic Johnson
35          Larry Nance
36         Reggie Lewis
37          Jeff Malone
38         Reggie Theus
39      Sherman Douglas
40      Derrick Coleman
41         Kevin McHale
42         Chuck Person
43         Harvey Grant
44        Tyrone Corbin
45       Lionel Simmons
46               Player
47       Scottie Pippen
48          Kenny Smith
49       Terry Cummings
50          Otis Thorpe
51           Ken Norman
52            Glen Rice
53         Scott Skiles
54        John Stockton
55      Pooh Richardson
56      Xavier McDaniel
57      Xavier McDaniel
58      Xavier McDaniel
59       Vernon Maxwell
Name: Player, dtype: object

In [17]:
players_stats_df["Player"] = players_stats_df["Player"].str.replace("*","",regex=False)

In [18]:
players_stats_df.head(20)

,Unnamed: 0,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1",1991
1,1,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,2,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,3,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,4,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
5,5,Michael Adams,28,DEN,PG,66,66,35.5,8.5,21.5,...,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,NaN,1991
6,6,Dominique Wilkins,31,ATL,SF,81,81,38.0,9.5,20.2,...,5.8,9.0,3.3,1.5,0.8,2.5,1.9,25.9,"MVP-8,AS,NBA2",1991
7,7,Chris Mullin,27,GSW,SF,82,82,40.4,9.5,17.7,...,3.7,5.4,4.0,2.1,0.8,3.0,2.1,25.7,"AS,NBA2",1991
8,8,David Robinson,25,SAS,C,82,81,37.7,9.2,16.7,...,8.9,13.0,2.5,1.5,3.9,3.3,3.2,25.6,"MVP-3,DPOY-2,AS,NBA1",1991
9,9,Orlando Woolridge,31,DEN,SF,53,50,34.4,9.2,18.5,...,4.2,6.8,2.2,1.3,0.4,2.9,2.7,25.1,NaN,1991
10,10,Mitch Richmond,25,GSW,SG,77,77,39.3,9.1,18.5,...,4.0,5.9,3.1,1.6,0.4,3.0,2.7,23.9,NaN,1991
11,11,Tim Hardaway,24,GSW,PG,82,82,39.2,9.0,18.9,...,3.0,4.0,9.7,2.6,0.1,3.3,2.8,22.9,"MVP-19,AS",1991
12,12,Reggie Miller,25,IND,SG,82,82,36.2,7.3,14.2,...,2.4,3.4,4.0,1.3,0.2,2.0,2.0,22.6,NaN,1991
13,13,Kevin Johnson,24,PHO,PG,77,76,36.0,7.7,14.9,...,2.8,3.5,10.1,2.1,0.1,3.5,2.3,22.2,"MVP-7,AS,NBA2",1991
14,14,Hersey Hawkins,24,PHI,SG,80,80,38.9,7.4,15.6,...,3.3,3.9,3.7,2.2,0.5,2.7,2.3,22.1,AS,1991
15,15,Tony Campbell,28,MIN,SG,77,71,37.6,8.5,19.5,...,2.4,4.5,2.8,1.6,0.6,2.5,2.6,21.8,NaN,1991
16,16,Brad Daugherty,25,CLE,C,76,76,38.8,8.0,15.2,...,8.6,10.9,3.3,1.0,0.6,2.8,2.5,21.6,AS,1991
17,17,Clyde Drexler,28,POR,SG,82,82,34.8,7.9,16.3,...,4.1,6.7,6.0,1.8,0.7,2.8,2.8,21.5,"MVP-6,AS,NBA2",1991
18,18,James Worthy,29,LAL,SF,78,74,38.6,9.2,18.7,...,3.2,4.6,3.5,1.3,0.4,1.6,1.5,21.4,"AS,NBA3",1991
19,19,Hakeem Olajuwon,28,HOU,C,56,50,36.8,8.7,17.1,...,9.8,13.8,2.3,2.2,3.9,3.1,3.9,21.2,"MVP-18,DPOY-5,NBA3",1991

In [19]:
players_stats_df.groupby(["Player","Year"]).get_group(("Greg Anderson",1991))

,Unnamed: 0,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
323,323,Greg Anderson,26,3TM,PF,68,2,13.6,1.7,4.0,...,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,NaN,1991
324,324,Greg Anderson,26,MIL,PF,26,0,9.5,1.0,2.8,...,1.9,2.9,0.1,0.3,0.3,0.8,1.1,2.7,NaN,1991
325,325,Greg Anderson,26,NJN,PF,1,0,18.0,4.0,4.0,...,2.0,6.0,1.0,2.0,0.0,1.0,4.0,8.0,NaN,1991
326,326,Greg Anderson,26,DEN,PF,41,2,16.1,2.1,4.7,...,4.1,5.8,0.3,0.6,0.9,1.5,2.6,5.2,NaN,1991

In [20]:

def update_team_column(dataframe):
    """
    Met à jour la colonne 'Team' du DataFrame pour remplacer les valeurs '2TM', '3TM', '4TM', '5TM' par 'TOT'.
    
    Args:
        dataframe (pd.DataFrame): Le DataFrame contenant la colonne 'Team'.
    
    Returns:
        pd.DataFrame: Le DataFrame mis à jour.
    """
    try:
        # Vérifier si la colonne 'Team' existe dans le DataFrame
        if 'Team' in dataframe.columns:
            # Remplacer les valeurs spécifiques par 'TOT'
            dataframe['Team'] = dataframe['Team'].replace(['2TM', '3TM', '4TM', '5TM'], 'TOT')
            print("Les valeurs de la colonne 'Team' ont été mises à jour avec succès.")
        else:
            print("Erreur : La colonne 'Team' n'existe pas dans le DataFrame.")
    except Exception as e:
        print(f"Erreur lors de la mise à jour de la colonne 'Team' : {e}")
    
    return dataframe

# Exemple d'utilisation avec votre DataFrame players_stats_df
players_stats_df = update_team_column(players_stats_df)

# Afficher les premières lignes pour vérifier le résultat
print(players_stats_df.head())

Les valeurs de la colonne 'Team' ont été mises à jour avec succès.
   Unnamed: 0           Player Age Team Pos   G  GS    MP    FG   FGA  ...  \
0           0   Michael Jordan  27  CHI  SG  82  82  37.0  12.1  22.4  ...
1           1      Karl Malone  27  UTA  PF  82  82  40.3  10.3  19.6  ...
2           2     Bernard King  34  WSB  SF  64  64  37.5  11.1  23.6  ...
3           3  Charles Barkley  27  PHI  SF  67  67  37.3   9.9  17.4  ...
4           4    Patrick Ewing  28  NYK   C  81  81  38.3  10.4  20.3  ...

   DRB   TRB  AST  STL  BLK  TOV   PF   PTS                 Awards  Year
0  4.6   6.0  5.5  2.7  1.0  2.5  2.8  31.5   MVP-1,DPOY-7,AS,NBA1  1991
1  8.9  11.8  3.3  1.1  1.0  3.0  3.3  29.0          MVP-5,AS,NBA1  1991
2  3.2   5.0  4.6  0.9  0.3  4.0  2.9  28.4         MVP-16,AS,NBA3  1991
3  6.3  10.1  4.2  1.6  0.5  3.1  2.6  27.6          MVP-4,AS,NBA1  1991
4  8.8  11.2  3.0  1.0  3.2  3.6  3.5  26.6  MVP-11,DPOY-7,AS,NBA2  1991

[5 rows x 32 columns]

In [21]:
players_stats_df.groupby(["Player","Year"]).get_group(("Greg Anderson",1991))

,Unnamed: 0,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
323,323,Greg Anderson,26,TOT,PF,68,2,13.6,1.7,4.0,...,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,NaN,1991
324,324,Greg Anderson,26,MIL,PF,26,0,9.5,1.0,2.8,...,1.9,2.9,0.1,0.3,0.3,0.8,1.1,2.7,NaN,1991
325,325,Greg Anderson,26,NJN,PF,1,0,18.0,4.0,4.0,...,2.0,6.0,1.0,2.0,0.0,1.0,4.0,8.0,NaN,1991
326,326,Greg Anderson,26,DEN,PF,41,2,16.1,2.1,4.7,...,4.1,5.8,0.3,0.6,0.9,1.5,2.6,5.2,NaN,1991

In [22]:
def single_row(df):
    if df.shape[0]==1:
        return df 
    else : 
        row = df[df["Team"]=="TOT"]
        row["Team"] = df.iloc[-1,:]["Team"]
        return row
players_stats_df = players_stats_df.groupby(["Player","Year"]).apply(single_row)

In [23]:
players_stats_df.head(20)

                          Unnamed: 0         Player Age Team Pos   G  GS  \
Player        Year
A.C. Green    1991 188           188     A.C. Green  27  LAL  PF  82  21
              1992 568            98     A.C. Green  28  LAL  PF  82  53
              1993 1069          111     A.C. Green  29  LAL  PF  82  55
              1994 1512           76     A.C. Green  30  PHO  PF  82  55
              1995 2086          138     A.C. Green  31  PHO  SF  82  52
              1996 2685          256     A.C. Green  32  PHO  SF  82  36
              1997 3249          239     A.C. Green  33  DAL  PF  83  73
              1998 3880          259     A.C. Green  34  DAL  PF  82  68
              1999 4518          314     A.C. Green  35  DAL  PF  50  35
              2000 5065          321     A.C. Green  36  LAL  PF  82  82
              2001 5642          370     A.C. Green  37  MIA  PF  82   1
A.J. Bramlett 2000 5248          504  A.J. Bramlett  23  CLE   C   8   0
A.J. English  1991 193           193   A.J. English  23  WSB  SG  70  12
              1992 613           143   A.J. English  24  WSB  SG  81   6
A.J. Green    2023 19914         528     A.J. Green  23  MIL  SG  35   1
              2024 20611         502     A.J. Green  24  MIL  SG  56   0
A.J. Guyton   2001 5554          282    A.J. Guyton  22  CHI  PG  33   8
              2002 6147          303    A.J. Guyton  23  CHI  PG  45   6
              2003 6884          507    A.J. Guyton  24  GSW  PG   2   0
A.J. Hammons  2017 15562         581   A.J. Hammons  24  DAL   C  22   0

                            MP   FG   FGA  ...  DRB  TRB  AST  STL  BLK  TOV  \
Player        Year                         ...
A.C. Green    1991 188    26.4  3.1   6.6  ...  3.8  6.3  0.9  0.7  0.3  1.2
              1992 568    35.4  4.7   9.8  ...  5.6  9.3  1.4  1.1  0.4  1.4
              1993 1069   34.4  4.6   8.6  ...  5.2  8.7  1.4  1.1  0.5  1.4
              1994 1512   34.5  5.7  11.3  ...  5.8  9.2  1.7  0.9  0.5  1.2
              1995 2086   32.8  3.8   7.5  ...  5.8  8.2  1.5  0.7  0.4  1.4
              1996 2685   25.8  2.6   5.4  ...  4.7  6.8  0.9  0.5  0.3  1.0
              1997 3249   30.0  2.8   5.8  ...  5.2  7.9  0.8  0.8  0.2  0.9
              1998 3880   32.3  3.0   6.5  ...  5.5  8.1  1.5  1.0  0.3  0.8
              1999 4518   18.5  2.2   5.1  ...  2.9  4.6  0.5  0.6  0.2  0.4
              2000 5065   23.5  2.1   4.7  ...  4.0  5.9  1.0  0.6  0.2  0.6
              2001 5642   17.2  1.8   4.0  ...  2.5  3.8  0.5  0.4  0.1  0.5
A.J. Bramlett 2000 5248    7.6  0.5   2.6  ...  1.3  2.8  0.0  0.1  0.0  0.4
A.J. English  1991 193    20.6  3.6   8.2  ...  1.2  2.1  2.5  0.4  0.2  1.6
              1992 613    20.6  4.5  10.4  ...  1.2  2.1  1.8  0.4  0.1  1.1
A.J. Green    2023 19914   9.9  1.5   3.6  ...  1.1  1.3  0.6  0.2  0.0  0.3
              2024 20611  11.0  1.5   3.5  ...  1.0  1.1  0.5  0.2  0.1  0.2
A.J. Guyton   2001 5554   19.1  2.4   5.8  ...  0.8  1.1  1.9  0.3  0.2  0.7
              2002 6147   13.5  2.0   5.4  ...  0.7  1.0  1.8  0.2  0.2  0.8
              2003 6884    4.5  0.0   2.0  ...  0.0  0.0  1.0  0.5  0.0  0.5
A.J. Hammons  2017 15562   7.4  0.8   1.9  ...  1.3  1.6  0.2  0.0  0.6  0.5

                           PF   PTS Awards  Year
Player        Year
A.C. Green    1991 188    1.4   9.1    NaN  1991
              1992 568    1.7  13.6    NaN  1992
              1993 1069   1.8  12.8    NaN  1993
              1994 1512   1.7  14.7    NaN  1994
              1995 2086   1.8  11.2    NaN  1995
              1996 2685   1.7   7.5    NaN  1996
              1997 3249   1.7   7.2    NaN  1997
              1998 3880   1.9   7.3    NaN  1998
              1999 4518   1.4   4.9    NaN  1999
              2000 5065   1.5   5.0    NaN  2000
              2001 5642   1.5   4.5    NaN  2001
A.J. Bramlett 2000 5248   1.6   1.0    NaN  2000
A.J. English  1991 193    1.8   8.8    NaN  1991
              1992 613    2.0  10.9    NaN  1992
A.J. Green    2023 19914  0.9   4.4    NaN  2023
              2024 20611  0.9   4.5    NaN  2024
A.J. Guyton   2001 5554   1.1   6.0    NaN  2001
              2002 6147   0.5   5.4    NaN  2002
              2003 6884   0.0   0.0    NaN  2003
A.J. Hammons  2017 15562  1.0   2.2    NaN  2017

[20 rows x 32 columns]

In [24]:
players_stats_df.index = players_stats_df.index.droplevel()

In [25]:
players_stats_df.index = players_stats_df.index.droplevel()

In [26]:
players_stats_df

,Unnamed: 0,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
188,188,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,...,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,NaN,1991
568,98,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,...,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,NaN,1992
1069,111,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,...,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,NaN,1993
1512,76,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,...,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,NaN,1994
2086,138,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,...,5.8,8.2,1.5,0.7,0.4,1.4,1.8,11.2,NaN,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6093,249,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,...,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,NaN,2002
6611,234,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,...,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,NaN,2003
7318,427,Željko Rebrača,31,ATL,C,24,2,11.4,1.4,3.2,...,1.5,2.4,0.3,0.2,0.5,0.7,2.2,3.8,NaN,2004
7856,342,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,...,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,NaN,2005
8488,351,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,...,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,NaN,2006

In [27]:
players_stats_df[players_stats_df["Player"] == "Greg Anderson"]

,Unnamed: 0,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
323,323,Greg Anderson,26,DEN,PF,68,2,13.6,1.7,4.0,...,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,NaN,1991
595,125,Greg Anderson,27,DEN,PF,82,82,34.1,4.7,10.4,...,7.4,11.5,1.0,1.1,0.8,2.5,3.2,11.5,NaN,1992
1696,260,Greg Anderson,29,DET,PF,77,47,21.1,2.6,4.8,...,5.0,7.4,0.7,0.7,0.9,1.2,3.0,6.4,NaN,1994
2342,394,Greg Anderson,30,ATL,PF,51,0,12.2,1.1,2.0,...,2.5,3.7,0.3,0.5,0.6,0.6,2.0,2.9,NaN,1995
2983,554,Greg Anderson,31,SAS,PF,46,7,7.5,0.5,1.0,...,1.5,2.2,0.2,0.2,0.5,0.5,1.4,1.2,NaN,1996
3403,393,Greg Anderson,32,SAS,C,82,48,20.2,1.6,3.2,...,3.5,5.5,0.4,0.8,0.8,0.9,2.7,3.9,NaN,1997
4150,529,Greg Anderson,33,ATL,C,50,0,8.0,0.7,1.6,...,1.6,2.4,0.3,0.4,0.2,0.3,1.7,1.8,NaN,1998

In [28]:
def remove_columns(dataframe, columns_to_remove):
    """
    Supprime les colonnes spécifiées d'un DataFrame.

    Args:
        dataframe (pd.DataFrame): Le DataFrame à modifier.
        columns_to_remove (list): Liste des colonnes à supprimer.

    Returns:
        pd.DataFrame: Le DataFrame sans les colonnes spécifiées.
    """
    try:
        # Vérifier si les colonnes à supprimer existent dans le DataFrame
        existing_columns = [col for col in columns_to_remove if col in dataframe.columns]
        
        if existing_columns:
            # Supprimer les colonnes spécifiées
            dataframe = dataframe.drop(columns=existing_columns, axis=1)
            print(f"Les colonnes suivantes ont été supprimées avec succès : {existing_columns}")
        else:
            print(f"Aucune des colonnes spécifiées n'existe dans le DataFrame : {columns_to_remove}")
    except Exception as e:
        print(f"Erreur lors de la suppression des colonnes : {e}")
    
    return dataframe

# Liste des colonnes à supprimer
columns_to_remove = ['Unnamed: 0', 'Awards']

# Appliquer la fonction à votre DataFrame
players_stats_df = remove_columns(players_stats_df, columns_to_remove)

# Afficher les premières lignes pour vérifier le résultat
print(players_stats_df.head())

Les colonnes suivantes ont été supprimées avec succès : ['Unnamed: 0', 'Awards']
          Player Age Team Pos   G  GS    MP   FG   FGA   FG%  ...  ORB  DRB  \
188   A.C. Green  27  LAL  PF  82  21  26.4  3.1   6.6  .476  ...  2.5  3.8
568   A.C. Green  28  LAL  PF  82  53  35.4  4.7   9.8  .476  ...  3.7  5.6
1069  A.C. Green  29  LAL  PF  82  55  34.4  4.6   8.6  .537  ...  3.5  5.2
1512  A.C. Green  30  PHO  PF  82  55  34.5  5.7  11.3  .502  ...  3.4  5.8
2086  A.C. Green  31  PHO  SF  82  52  32.8  3.8   7.5  .504  ...  2.4  5.8

      TRB  AST  STL  BLK  TOV   PF   PTS  Year
188   6.3  0.9  0.7  0.3  1.2  1.4   9.1  1991
568   9.3  1.4  1.1  0.4  1.4  1.7  13.6  1992
1069  8.7  1.4  1.1  0.5  1.4  1.8  12.8  1993
1512  9.2  1.7  0.9  0.5  1.2  1.7  14.7  1994
2086  8.2  1.5  0.7  0.4  1.4  1.8  11.2  1995

[5 rows x 30 columns]

In [29]:
players_stats_df[players_stats_df["Player"] == "Greg Anderson"]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
323,Greg Anderson,26,DEN,PF,68,2,13.6,1.7,4.0,.430,...,1.4,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,1991
595,Greg Anderson,27,DEN,PF,82,82,34.1,4.7,10.4,.456,...,4.1,7.4,11.5,1.0,1.1,0.8,2.5,3.2,11.5,1992
1696,Greg Anderson,29,DET,PF,77,47,21.1,2.6,4.8,.543,...,2.4,5.0,7.4,0.7,0.7,0.9,1.2,3.0,6.4,1994
2342,Greg Anderson,30,ATL,PF,51,0,12.2,1.1,2.0,.548,...,1.2,2.5,3.7,0.3,0.5,0.6,0.6,2.0,2.9,1995
2983,Greg Anderson,31,SAS,PF,46,7,7.5,0.5,1.0,.511,...,0.6,1.5,2.2,0.2,0.2,0.5,0.5,1.4,1.2,1996
3403,Greg Anderson,32,SAS,C,82,48,20.2,1.6,3.2,.496,...,1.9,3.5,5.5,0.4,0.8,0.8,0.9,2.7,3.9,1997
4150,Greg Anderson,33,ATL,C,50,0,8.0,0.7,1.6,.444,...,0.8,1.6,2.4,0.3,0.4,0.2,0.3,1.7,1.8,1998

In [30]:
#Combining the player and MVP Data

In [31]:
combined = players_stats_df.merge(mvps, how="outer", on=["Player","Year"])

In [32]:
combined.head(5)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,NaN,NaN,NaN
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,NaN,NaN,NaN
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,NaN,NaN,NaN
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,NaN,NaN,NaN
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,NaN,NaN,NaN

In [33]:
combined[combined["Pts Won"] > 0]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
217,Al Jefferson,29,CHA,C,73,73,35.0,9.6,18.8,.509,...,2.1,0.9,1.1,1.7,2.4,21.8,2014,34.0,1250.0,0.027
376,Allen Iverson,21,PHI,PG,76,74,40.1,8.2,19.8,.416,...,7.5,2.1,0.3,4.4,3.1,23.5,1997,1.0,1150.0,0.001
378,Allen Iverson,23,PHI,SG,48,48,41.5,9.1,22.0,.412,...,4.6,2.3,0.1,3.5,2.0,26.8,1999,319.0,1180.0,0.270
379,Allen Iverson,24,PHI,SG,70,70,40.8,10.4,24.8,.421,...,4.7,2.1,0.1,3.3,2.3,28.4,2000,132.0,1210.0,0.109
380,Allen Iverson,25,PHI,SG,71,71,42.0,10.7,25.5,.420,...,4.6,2.5,0.3,3.3,2.1,31.1,2001,1121.0,1240.0,0.904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,42.0,1010.0,0.042
15853,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,875.0,1000.0,0.875
15854,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,146.0,1000.0,0.146
15855,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,674.0,1000.0,0.674
15856,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,10.0,1000.0,0.010

In [34]:
combined[["Pts Won", "Pts Max", "Share"]].fillna(0, inplace=True)

C:\Users\21654\anaconda3\ana\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [35]:
combined[combined["Pts Won"] > 0]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
217,Al Jefferson,29,CHA,C,73,73,35.0,9.6,18.8,.509,...,2.1,0.9,1.1,1.7,2.4,21.8,2014,34.0,1250.0,0.027
376,Allen Iverson,21,PHI,PG,76,74,40.1,8.2,19.8,.416,...,7.5,2.1,0.3,4.4,3.1,23.5,1997,1.0,1150.0,0.001
378,Allen Iverson,23,PHI,SG,48,48,41.5,9.1,22.0,.412,...,4.6,2.3,0.1,3.5,2.0,26.8,1999,319.0,1180.0,0.270
379,Allen Iverson,24,PHI,SG,70,70,40.8,10.4,24.8,.421,...,4.7,2.1,0.1,3.3,2.3,28.4,2000,132.0,1210.0,0.109
380,Allen Iverson,25,PHI,SG,71,71,42.0,10.7,25.5,.420,...,4.6,2.5,0.3,3.3,2.1,31.1,2001,1121.0,1240.0,0.904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,42.0,1010.0,0.042
15853,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,875.0,1000.0,0.875
15854,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,146.0,1000.0,0.146
15855,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,674.0,1000.0,0.674
15856,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,10.0,1000.0,0.010

In [36]:
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

In [37]:
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.000
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.000
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.000
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.000
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,42.0,1010.0,0.042
15853,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,875.0,1000.0,0.875
15854,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,146.0,1000.0,0.146
15855,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,674.0,1000.0,0.674
15856,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,10.0,1000.0,0.010

In [38]:
#cleaning the team data

In [39]:
teams_df

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
...,...,...,...,...,...,...,...,...,...,...
1098,13,51,31,.622,—,116.9,113.0,3.60,2023,Memphis Grizzlies*
1099,14,42,40,.512,9.0,114.4,112.5,1.63,2023,New Orleans Pelicans
1100,15,38,44,.463,13.0,114.2,114.1,-0.14,2023,Dallas Mavericks
1101,16,22,60,.268,29.0,110.7,118.6,-7.62,2023,Houston Rockets
1102,17,22,60,.268,29.0,113.0,123.1,-9.82,2023,San Antonio Spurs

In [40]:
teams_df.head(50)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
5,5,24,58,.293,32.0,101.8,107.8,-5.91,1991,Miami Heat
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1991,Central Division
7,7,61,21,.744,—,110.0,101.0,8.57,1991,Chicago Bulls*
8,8,50,32,.610,11.0,100.1,96.8,3.08,1991,Detroit Pistons*
9,9,48,34,.585,13.0,106.4,104.0,2.33,1991,Milwaukee Bucks*
10,10,43,39,.524,18.0,109.8,109.0,0.72,1991,Atlanta Hawks*
11,11,41,41,.500,20.0,111.7,112.1,-0.37,1991,Indiana Pacers*
12,12,33,49,.402,28.0,101.7,104.2,-2.33,1991,Cleveland Cavaliers
13,13,26,56,.317,35.0,102.8,108.0,-4.95,1991,Charlotte Hornets
14,0,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1991,Midwest Division
15,1,55,27,.671,—,107.1,102.6,4.30,1991,San Antonio Spurs*
16,2,54,28,.659,1.0,104.0,100.7,3.18,1991,Utah Jazz*
17,3,52,30,.634,3.0,106.7,103.2,3.27,1991,Houston Rockets*
18,4,31,51,.378,24.0,105.9,109.9,-3.79,1991,Orlando Magic
19,5,29,53,.354,26.0,99.6,103.5,-3.75,1991,Minnesota Timberwolves
20,6,28,54,.341,27.0,99.9,104.5,-4.27,1991,Dallas Mavericks
21,7,20,62,.244,35.0,119.9,130.8,-10.31,1991,Denver Nuggets
22,8,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,1991,Pacific Division
23,9,63,19,.768,—,114.7,106.0,8.47,1991,Portland Trail Blazers*
24,10,58,24,.707,5.0,106.3,99.6,6.73,1991,Los Angeles Lakers*
25,11,55,27,.671,8.0,114.0,107.5,6.49,1991,Phoenix Suns*
26,12,44,38,.537,19.0,116.6,115.0,1.72,1991,Golden State Warriors*
27,13,41,41,.500,22.0,106.6,105.4,1.31,1991,Seattle SuperSonics*
28,14,31,51,.378,32.0,103.5,107.0,-3.16,1991,Los Angeles Clippers
29,15,25,57,.305,38.0,96.7,103.5,-6.27,1991,Sacramento Kings
30,0,51,31,.622,—,106.6,103.0,3.41,1992,Boston Celtics*
31,1,51,31,.622,—,101.6,97.7,3.67,1992,New York Knicks*
32,2,40,42,.488,11.0,105.4,107.1,-1.54,1992,New Jersey Nets*
33,3,38,44,.463,13.0,105.0,109.2,-3.94,1992,Miami Heat*
34,4,35,47,.427,16.0,101.9,103.2,-1.34,1992,Philadelphia 76ers
35,5,25,57,.305,26.0,102.4,106.8,-4.35,1992,Washington Bullets
36,6,21,61,.256,30.0,101.6,108.5,-6.52,1992,Orlando Magic
37,7,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1992,Central Division
38,8,67,15,.817,—,109.9,99.5,10.07,1992,Chicago Bulls*
39,9,57,25,.695,10.0,108.9,103.4,5.34,1992,Cleveland Cavaliers*
40,10,48,34,.585,19.0,98.9,96.9,2.06,1992,Detroit Pistons*
41,11,40,42,.488,27.0,112.2,110.3,1.85,1992,Indiana Pacers*
42,12,38,44,.463,29.0,106.2,107.7,-1.15,1992,Atlanta Hawks
43,13,31,51,.378,36.0,105.0,106.7,-1.46,1992,Milwaukee Bucks
44,14,31,51,.378,36.0,109.5,113.4,-3.57,1992,Charlotte Hornets
45,0,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1992,Midwest Division
46,1,55,27,.671,—,108.3,101.9,5.70,1992,Utah Jazz*
47,2,47,35,.573,8.0,104.0,100.6,2.81,1992,San Antonio Spurs*
48,3,42,40,.512,13.0,102.0,103.7,-1.94,1992,Houston Rockets
49,4,24,58,.293,31.0,99.7,107.6,-7.59,1992,Denver Nuggets

In [41]:
teams_df = teams_df[~teams_df["W"].str.contains("Division")]

In [42]:
teams_df.head(30)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
5,5,24,58,.293,32.0,101.8,107.8,-5.91,1991,Miami Heat
7,7,61,21,.744,—,110.0,101.0,8.57,1991,Chicago Bulls*
8,8,50,32,.610,11.0,100.1,96.8,3.08,1991,Detroit Pistons*
9,9,48,34,.585,13.0,106.4,104.0,2.33,1991,Milwaukee Bucks*
10,10,43,39,.524,18.0,109.8,109.0,0.72,1991,Atlanta Hawks*
11,11,41,41,.500,20.0,111.7,112.1,-0.37,1991,Indiana Pacers*
12,12,33,49,.402,28.0,101.7,104.2,-2.33,1991,Cleveland Cavaliers
13,13,26,56,.317,35.0,102.8,108.0,-4.95,1991,Charlotte Hornets
15,1,55,27,.671,—,107.1,102.6,4.30,1991,San Antonio Spurs*
16,2,54,28,.659,1.0,104.0,100.7,3.18,1991,Utah Jazz*
17,3,52,30,.634,3.0,106.7,103.2,3.27,1991,Houston Rockets*
18,4,31,51,.378,24.0,105.9,109.9,-3.79,1991,Orlando Magic
19,5,29,53,.354,26.0,99.6,103.5,-3.75,1991,Minnesota Timberwolves
20,6,28,54,.341,27.0,99.9,104.5,-4.27,1991,Dallas Mavericks
21,7,20,62,.244,35.0,119.9,130.8,-10.31,1991,Denver Nuggets
23,9,63,19,.768,—,114.7,106.0,8.47,1991,Portland Trail Blazers*
24,10,58,24,.707,5.0,106.3,99.6,6.73,1991,Los Angeles Lakers*
25,11,55,27,.671,8.0,114.0,107.5,6.49,1991,Phoenix Suns*
26,12,44,38,.537,19.0,116.6,115.0,1.72,1991,Golden State Warriors*
27,13,41,41,.500,22.0,106.6,105.4,1.31,1991,Seattle SuperSonics*
28,14,31,51,.378,32.0,103.5,107.0,-3.16,1991,Los Angeles Clippers
29,15,25,57,.305,38.0,96.7,103.5,-6.27,1991,Sacramento Kings
30,0,51,31,.622,—,106.6,103.0,3.41,1992,Boston Celtics*
31,1,51,31,.622,—,101.6,97.7,3.67,1992,New York Knicks*
32,2,40,42,.488,11.0,105.4,107.1,-1.54,1992,New Jersey Nets*

In [43]:
teams_df = teams_df[~teams_df["W"].str.contains("Division")]

In [44]:
teams_df.head(30)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
5,5,24,58,.293,32.0,101.8,107.8,-5.91,1991,Miami Heat
7,7,61,21,.744,—,110.0,101.0,8.57,1991,Chicago Bulls*
8,8,50,32,.610,11.0,100.1,96.8,3.08,1991,Detroit Pistons*
9,9,48,34,.585,13.0,106.4,104.0,2.33,1991,Milwaukee Bucks*
10,10,43,39,.524,18.0,109.8,109.0,0.72,1991,Atlanta Hawks*
11,11,41,41,.500,20.0,111.7,112.1,-0.37,1991,Indiana Pacers*
12,12,33,49,.402,28.0,101.7,104.2,-2.33,1991,Cleveland Cavaliers
13,13,26,56,.317,35.0,102.8,108.0,-4.95,1991,Charlotte Hornets
15,1,55,27,.671,—,107.1,102.6,4.30,1991,San Antonio Spurs*
16,2,54,28,.659,1.0,104.0,100.7,3.18,1991,Utah Jazz*
17,3,52,30,.634,3.0,106.7,103.2,3.27,1991,Houston Rockets*
18,4,31,51,.378,24.0,105.9,109.9,-3.79,1991,Orlando Magic
19,5,29,53,.354,26.0,99.6,103.5,-3.75,1991,Minnesota Timberwolves
20,6,28,54,.341,27.0,99.9,104.5,-4.27,1991,Dallas Mavericks
21,7,20,62,.244,35.0,119.9,130.8,-10.31,1991,Denver Nuggets
23,9,63,19,.768,—,114.7,106.0,8.47,1991,Portland Trail Blazers*
24,10,58,24,.707,5.0,106.3,99.6,6.73,1991,Los Angeles Lakers*
25,11,55,27,.671,8.0,114.0,107.5,6.49,1991,Phoenix Suns*
26,12,44,38,.537,19.0,116.6,115.0,1.72,1991,Golden State Warriors*
27,13,41,41,.500,22.0,106.6,105.4,1.31,1991,Seattle SuperSonics*
28,14,31,51,.378,32.0,103.5,107.0,-3.16,1991,Los Angeles Clippers
29,15,25,57,.305,38.0,96.7,103.5,-6.27,1991,Sacramento Kings
30,0,51,31,.622,—,106.6,103.0,3.41,1992,Boston Celtics*
31,1,51,31,.622,—,101.6,97.7,3.67,1992,New York Knicks*
32,2,40,42,.488,11.0,105.4,107.1,-1.54,1992,New Jersey Nets*

In [45]:
teams_df["Team"] = teams_df["Team"].str.replace("*","",regex=False)

In [46]:
teams_df.head(5)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets

In [47]:
teams_df.rename(columns={'Team': 'Full_Team'}, inplace=True)

In [48]:
teams_df["Full_Team"].unique()

array(['Boston Celtics', 'Philadelphia 76ers', 'New York Knicks',
       'Washington Bullets', 'New Jersey Nets', 'Miami Heat',
       'Chicago Bulls', 'Detroit Pistons', 'Milwaukee Bucks',
       'Atlanta Hawks', 'Indiana Pacers', 'Cleveland Cavaliers',
       'Charlotte Hornets', 'San Antonio Spurs', 'Utah Jazz',
       'Houston Rockets', 'Orlando Magic', 'Minnesota Timberwolves',
       'Dallas Mavericks', 'Denver Nuggets', 'Portland Trail Blazers',
       'Los Angeles Lakers', 'Phoenix Suns', 'Golden State Warriors',
       'Seattle SuperSonics', 'Los Angeles Clippers', 'Sacramento Kings',
       'Toronto Raptors', 'Vancouver Grizzlies', 'Washington Wizards',
       'Memphis Grizzlies', 'New Orleans Hornets', 'Charlotte Bobcats',
       'New Orleans/Oklahoma City Hornets', 'Oklahoma City Thunder',
       'Brooklyn Nets', 'New Orleans Pelicans'], dtype=object)

In [49]:
combined["Team"].unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'MIL', 'CHI', 'GSW',
       'IND', 'WAS', 'MIN', 'BOS', 'ATL', 'HOU', 'DEN', 'ORL', 'NOH',
       'TOR', 'SAC', 'CHO', 'PHI', 'POR', 'DET', 'OKC', 'UTA', 'VAN',
       'SEA', 'NJN', 'NOK', 'LAC', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH', nan], dtype=object)

In [50]:
# Étape 1 : Charger le fichier nicknames.txt
nicknames_path = r"C:\Users\21654\Desktop\Projet_Mariem_Ben_Miled\nicknames.txt"
nicknames_df = pd.read_csv(nicknames_path, sep=',', skipinitialspace=True)

# Étape 2 : Créer un dictionnaire à partir du DataFrame
nicknames = dict(zip(nicknames_df['Abbreviation'], nicknames_df['Name']))

# Vérification
print("Dictionnaire des surnoms :")
print(nicknames)

Dictionnaire des surnoms :
{'ATL': 'Atlanta Hawks', 'BRK': 'Brooklyn Nets', 'BKN': 'Brooklyn Nets', 'BOS': 'Boston Celtics', 'CHA': 'Charlotte Bobcats', 'CHH': 'Charlotte Hornets', 'CHO': 'Charlotte Hornets', 'CHI': 'Chicago Bulls', 'CLE': 'Cleveland Cavaliers', 'DAL': 'Dallas Mavericks', 'DEN': 'Denver Nuggets', 'DET': 'Detroit Pistons', 'GSW': 'Golden State Warriors', 'HOU': 'Houston Rockets', 'IND': 'Indiana Pacers', 'LAC': 'Los Angeles Clippers', 'LAL': 'Los Angeles Lakers', 'MEM': 'Memphis Grizzlies', 'MIA': 'Miami Heat', 'MIL': 'Milwaukee Bucks', 'MIN': 'Minnesota Timberwolves', 'NJN': 'New Jersey Nets', 'NOH': 'New Orleans Hornets', 'NOP': 'New Orleans Pelicans', 'NOK': 'New Orleans/Oklahoma City Hornets', 'NYK': 'New York Knicks', 'OKC': 'Oklahoma City Thunder', 'ORL': 'Orlando Magic', 'PHI': 'Philadelphia 76ers', 'PHX': 'Phoenix Suns', 'PHO': 'Phoenix Suns', 'POR': 'Portland Trail Blazers', 'SEA': 'Seattle SuperSonics', 'SAC': 'Sacramento Kings', 'SAS': 'San Antonio Spurs', 'TOR': 'Toronto Raptors', 'UTA': 'Utah Jazz', 'VAN': 'Vancouver Grizzlies', 'WAS': 'Washington Wizards', 'WSB': 'Washington Bullets'}

In [51]:
nicknames

{'ATL': 'Atlanta Hawks',
 'BRK': 'Brooklyn Nets',
 'BKN': 'Brooklyn Nets',
 'BOS': 'Boston Celtics',
 'CHA': 'Charlotte Bobcats',
 'CHH': 'Charlotte Hornets',
 'CHO': 'Charlotte Hornets',
 'CHI': 'Chicago Bulls',
 'CLE': 'Cleveland Cavaliers',
 'DAL': 'Dallas Mavericks',
 'DEN': 'Denver Nuggets',
 'DET': 'Detroit Pistons',
 'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'IND': 'Indiana Pacers',
 'LAC': 'Los Angeles Clippers',
 'LAL': 'Los Angeles Lakers',
 'MEM': 'Memphis Grizzlies',
 'MIA': 'Miami Heat',
 'MIL': 'Milwaukee Bucks',
 'MIN': 'Minnesota Timberwolves',
 'NJN': 'New Jersey Nets',
 'NOH': 'New Orleans Hornets',
 'NOP': 'New Orleans Pelicans',
 'NOK': 'New Orleans/Oklahoma City Hornets',
 'NYK': 'New York Knicks',
 'OKC': 'Oklahoma City Thunder',
 'ORL': 'Orlando Magic',
 'PHI': 'Philadelphia 76ers',
 'PHX': 'Phoenix Suns',
 'PHO': 'Phoenix Suns',
 'POR': 'Portland Trail Blazers',
 'SEA': 'Seattle SuperSonics',
 'SAC': 'Sacramento Kings',
 'SAS': 'San Antonio Spurs',
 'TOR': 'Toronto Raptors',
 'UTA': 'Utah Jazz',
 'VAN': 'Vancouver Grizzlies',
 'WAS': 'Washington Wizards',
 'WSB': 'Washington Bullets'}

In [52]:
combined["Full_Team"]= combined["Team"].map(nicknames)

In [53]:
combined["Full_Team"]

0        Los Angeles Lakers
1        Los Angeles Lakers
2        Los Angeles Lakers
3              Phoenix Suns
4              Phoenix Suns
                ...
15852                   NaN
15853                   NaN
15854                   NaN
15855                   NaN
15856                   NaN
Name: Full_Team, Length: 15857, dtype: object

In [54]:
combined.head(5)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Full_Team
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0,Los Angeles Lakers
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0,Los Angeles Lakers
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0,Los Angeles Lakers
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0,Phoenix Suns
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.0,Phoenix Suns

In [55]:
stats = combined.merge(teams_df, how = "outer", on=["Full_Team","Year"])

In [56]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Share,Full_Team,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.000,Los Angeles Lakers,10.0,58,24,.707,5.0,106.3,99.6,6.73
1,Byron Scott,29,LAL,SG,82,82,32.1,6.1,12.8,.477,...,0.000,Los Angeles Lakers,10.0,58,24,.707,5.0,106.3,99.6,6.73
2,Elden Campbell,22,LAL,PF,52,0,7.3,1.1,2.4,.455,...,0.000,Los Angeles Lakers,10.0,58,24,.707,5.0,106.3,99.6,6.73
3,Irving Thomas,25,LAL,PF,26,0,4.2,0.7,1.9,.340,...,0.000,Los Angeles Lakers,10.0,58,24,.707,5.0,106.3,99.6,6.73
4,James Worthy,29,LAL,SF,78,74,38.6,9.2,18.7,.492,...,0.000,Los Angeles Lakers,10.0,58,24,.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15853,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.475,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15854,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15855,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15856,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.474,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
#verifier du meme nombre de lignes entre les 2 df 
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Full_Team
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.000,Los Angeles Lakers
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.000,Los Angeles Lakers
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.000,Los Angeles Lakers
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.000,Phoenix Suns
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.000,Phoenix Suns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2021,42.0,1010.0,0.042,NaN
15853,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022,875.0,1000.0,0.875,NaN
15854,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022,146.0,1000.0,0.146,NaN
15855,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023,674.0,1000.0,0.674,NaN
15856,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023,10.0,1000.0,0.010,NaN

In [58]:
del stats["Unnamed: 0"]

In [59]:
stats.dtypes

Player        object
Age           object
Team          object
Pos           object
G             object
GS            object
MP            object
FG            object
FGA           object
FG%           object
3P            object
3PA           object
3P%           object
2P            object
2PA           object
2P%           object
eFG%          object
FT            object
FTA           object
FT%           object
ORB           object
DRB           object
TRB           object
AST           object
STL           object
BLK           object
TOV           object
PF            object
PTS           object
Year           int64
Pts Won      float64
Pts Max      float64
Share        float64
Full_Team     object
W             object
L             object
W/L%          object
GB            object
PS/G          object
PA/G          object
SRS           object
dtype: object

In [60]:
stats = stats.apply(pd.to_numeric, errors="ignore")

In [61]:
stats.dtypes

Player        object
Age          float64
Team          object
Pos           object
G            float64
GS           float64
MP           float64
FG           float64
FGA          float64
FG%          float64
3P           float64
3PA          float64
3P%          float64
2P           float64
2PA          float64
2P%          float64
eFG%         float64
FT           float64
FTA          float64
FT%          float64
ORB          float64
DRB          float64
TRB          float64
AST          float64
STL          float64
BLK          float64
TOV          float64
PF           float64
PTS          float64
Year           int64
Pts Won      float64
Pts Max      float64
Share        float64
Full_Team     object
W            float64
L            float64
W/L%         float64
GB            object
PS/G         float64
PA/G         float64
SRS          float64
dtype: object

In [62]:
stats["GB"].unique()

array(['5.0', '14.0', '23.0', '7.0', '—', '40.0', '42.0', '18.0', '6.0',
       '24.0', '26.0', nan, '37.0', '29.0', '21.0', '28.0', '13.0',
       '25.0', '8.0', '19.0', '3.0', '1.0', '17.0', '15.0', '9.0', '2.0',
       '35.0', '20.0', '11.0', '16.0', '41.0', '12.0', '50.0', '10.0',
       '30.0', '34.0', '4.0', '1.5', '22.0', '51.0', '36.0', '43.0',
       '39.0', '18.5', '31.0', '48.0', '46.0', '10.5', '32.0', '38.0',
       '27.0', '33.0', '21.5', '45.0', '22.5', '25.5', '3.5', '20.5',
       '11.5', '44.0', '52.0', '56.0', '2.5', '12.5', '47.0', '32.5',
       '4.5'], dtype=object)

In [63]:
stats["GB"]= stats["GB"].str.replace("—","0")

In [64]:
stats["GB"].unique()

array(['5.0', '14.0', '23.0', '7.0', '0', '40.0', '42.0', '18.0', '6.0',
       '24.0', '26.0', nan, '37.0', '29.0', '21.0', '28.0', '13.0',
       '25.0', '8.0', '19.0', '3.0', '1.0', '17.0', '15.0', '9.0', '2.0',
       '35.0', '20.0', '11.0', '16.0', '41.0', '12.0', '50.0', '10.0',
       '30.0', '34.0', '4.0', '1.5', '22.0', '51.0', '36.0', '43.0',
       '39.0', '18.5', '31.0', '48.0', '46.0', '10.5', '32.0', '38.0',
       '27.0', '33.0', '21.5', '45.0', '22.5', '25.5', '3.5', '20.5',
       '11.5', '44.0', '52.0', '56.0', '2.5', '12.5', '47.0', '32.5',
       '4.5'], dtype=object)

In [65]:
stats["GB"]= pd.to_numeric(stats["GB"])

In [66]:
stats.dtypes

Player        object
Age          float64
Team          object
Pos           object
G            float64
GS           float64
MP           float64
FG           float64
FGA          float64
FG%          float64
3P           float64
3PA          float64
3P%          float64
2P           float64
2PA          float64
2P%          float64
eFG%         float64
FT           float64
FTA          float64
FT%          float64
ORB          float64
DRB          float64
TRB          float64
AST          float64
STL          float64
BLK          float64
TOV          float64
PF           float64
PTS          float64
Year           int64
Pts Won      float64
Pts Max      float64
Share        float64
Full_Team     object
W            float64
L            float64
W/L%         float64
GB           float64
PS/G         float64
PA/G         float64
SRS          float64
dtype: object

In [67]:
#Combining the team,player and mvp data

In [68]:
#stats.to_csv("player_mvp_stats.csv")

In [69]:
# Supprimer les lignes ayant plus de 2 valeurs manquantes
stats = stats.dropna(thresh=len(stats.columns) - 2)

In [70]:
#stats.to_csv("final.csv")

In [71]:
# Remplacer les valeurs manquantes des colonnes numériques par leur moyenne
# Remplacer les valeurs manquantes par la moyenne arrondie à 3 chiffres après la virgule
stats = stats.fillna(stats.mean().round(3))


# Remplacer les valeurs manquantes dans les colonnes texte par "N/A"
stats.fillna("N/A", inplace=True)

In [72]:
stats["3P%"]

0        0.200
1        0.324
2        0.278
3        0.278
4        0.289
         ...
15803    0.309
15804    0.167
15805    0.253
15806    0.378
15807    0.406
Name: 3P%, Length: 15175, dtype: float64

In [73]:
#stats.to_csv("Project_final.csv")

In [74]:
# Dictionnaire de renommage des colonnes
rename_columns = {
    "Player": "Player_Name",
    "Age": "Player_Age",
    "Team": "Team_Name",
    "Pos": "Position",
    "G": "Games_Played",
    "GS": "Games_Started",
    "MP": "Minutes_Played",
    "FG": "Field_Goals_Made",
    "FGA": "Field_Goals_Attempted",
    "FG%": "Field_Goal_Percentage",
    "3P": "ThreePoint_Made",
    "3PA": "3-Point_Field_Goals_Attempted",
    "3P%": "3-Point_Field_Goal_Percentage",
    "2P": "2-Point_Field_Goals_Made",
    "2PA": "2-Point_Field_Goals_Attempted",
    "2P%": "2-Point_Field_Goal_Percentage",
    "eFG%": "Effective_Field_Goal_Percentage",
    "FT": "Free_Throws_Made",
    "FTA": "Free_Throws_Attempted",
    "FT%": "Free_Throw_Percentage",
    "ORB": "Offensive_Rebounds",
    "DRB": "Defensive_Rebounds",
    "TRB": "Rebounds",
    "AST": "Assists",
    "STL": "Steals",
    "BLK": "Blocks",
    "TOV": "Turnovers",
    "PF": "Personal_Fouls",
    "PTS": "Points_Scored",
    "Year": "Season_Year",
    "Pts Won": "Points_Won",
    "Pts Max": "Maximum_Points_Possible",
    "Share": "MVP_Share",
    "Full_Team": "Full_Team_Name",
    "W": "Wins",
    "L": "Losses",
    "W/L%": "Win_Loss_Percentage",
    "GB": "Games_Behind",
    "PS/G": "Points_Scored_per_Game",
    "PA/G": "Points_Allowed_per_Game",
    "SRS": "Simple_Rating_System"
}

# Renommer les colonnes
stats.rename(columns=rename_columns, inplace=True)

In [75]:
# Afficher les types des colonnes de manière plus lisible
for column, dtype in stats.dtypes.items():
    print(f"Colonne: {column}, Type: {dtype}")

Colonne: Player_Name, Type: object
Colonne: Player_Age, Type: float64
Colonne: Team_Name, Type: object
Colonne: Position, Type: object
Colonne: Games_Played, Type: float64
Colonne: Games_Started, Type: float64
Colonne: Minutes_Played, Type: float64
Colonne: Field_Goals_Made, Type: float64
Colonne: Field_Goals_Attempted, Type: float64
Colonne: Field_Goal_Percentage, Type: float64
Colonne: ThreePoint_Made, Type: float64
Colonne: 3-Point_Field_Goals_Attempted, Type: float64
Colonne: 3-Point_Field_Goal_Percentage, Type: float64
Colonne: 2-Point_Field_Goals_Made, Type: float64
Colonne: 2-Point_Field_Goals_Attempted, Type: float64
Colonne: 2-Point_Field_Goal_Percentage, Type: float64
Colonne: Effective_Field_Goal_Percentage, Type: float64
Colonne: Free_Throws_Made, Type: float64
Colonne: Free_Throws_Attempted, Type: float64
Colonne: Free_Throw_Percentage, Type: float64
Colonne: Offensive_Rebounds, Type: float64
Colonne: Defensive_Rebounds, Type: float64
Colonne: Rebounds, Type: float64
Colonne: Assists, Type: float64
Colonne: Steals, Type: float64
Colonne: Blocks, Type: float64
Colonne: Turnovers, Type: float64
Colonne: Personal_Fouls, Type: float64
Colonne: Points_Scored, Type: float64
Colonne: Season_Year, Type: int64
Colonne: Points_Won, Type: float64
Colonne: Maximum_Points_Possible, Type: float64
Colonne: MVP_Share, Type: float64
Colonne: Full_Team_Name, Type: object
Colonne: Wins, Type: float64
Colonne: Losses, Type: float64
Colonne: Win_Loss_Percentage, Type: float64
Colonne: Games_Behind, Type: float64
Colonne: Points_Scored_per_Game, Type: float64
Colonne: Points_Allowed_per_Game, Type: float64
Colonne: Simple_Rating_System, Type: float64

In [76]:
#stats.to_csv("Dataset_final.csv")

In [77]:
import pandas as pd
import numpy as np

# Exemple : DataFrame existante (à remplacer par ta propre DataFrame)
# stats = pd.read_csv("ton_fichier.csv")  # Charger tes données

# Conversion des types pour correspondre à ta base de données
conversion_types = {
    # Dim_Player
    "Player_Name": "string",  # Correspond à VARCHAR en PostgreSQL
    "Player_Age": "Int64",  # INT avec gestion des NaN
    "Position": "string",  # Correspond à VARCHAR en PostgreSQL

    # Dim_Team
    "Team_Name": "string",
    "Full_Team_Name": "string",
    "Wins": "float",  # FLOAT pour PostgreSQL
    "Losses": "float",
    "Win_Loss_Percentage": "float",

    # Dim_Season
    "Season_Year": "int64",  # Année
    "Points_Scored_per_Game": "float",
    "Points_Allowed_per_Game": "float",
    "Simple_Rating_System": "float",

    # Fact_Stats
    "Games_Played": "float",
    "Games_Started": "float",
    "Minutes_Played": "float",
    "Field_Goals_Made": "float",
    "Field_Goals_Attempted": "float",
    "Field_Goal_Percentage": "float",
    "ThreePoint_Made": "float",
    "3-Point_Field_Goals_Attempted": "float",
    "3-Point_Field_Goal_Percentage": "float",
    "2-Point_Field_Goals_Made": "float",
    "2-Point_Field_Goals_Attempted": "float",
    "2-Point_Field_Goal_Percentage": "float",
    "Effective_Field_Goal_Percentage": "float",
    "Free_Throws_Made": "float",
    "Free_Throws_Attempted": "float",
    "Free_Throw_Percentage": "float",
    "Offensive_Rebounds": "float",
    "Defensive_Rebounds": "float",
    "Rebounds": "float",
    "Assists": "float",
    "Steals": "float",
    "Blocks": "float",
    "Turnovers": "float",
    "Personal_Fouls": "float",
    "Points_Scored": "float",

    # Colonnes supplémentaires
    "Points_Won": "float",
    "Maximum_Points_Possible": "float",
    "MVP_Share": "float",
    "Games_Behind": "float"
}

# Application des conversions
for column, dtype in conversion_types.items():
    if column in stats.columns:
        if dtype == "string":
            stats[column] = stats[column].astype("string")
        elif dtype in ["int64", "Int64"]:  # Gestion des valeurs nulles pour les entiers
            stats[column] = stats[column].astype(dtype, errors="ignore")
        elif dtype == "float":
            stats[column] = stats[column].astype("float", errors="ignore")

# Afficher les types après conversion
print(stats.dtypes)

Player_Name                         string
Player_Age                           Int64
Team_Name                           string
Position                            string
Games_Played                       float64
Games_Started                      float64
Minutes_Played                     float64
Field_Goals_Made                   float64
Field_Goals_Attempted              float64
Field_Goal_Percentage              float64
ThreePoint_Made                    float64
3-Point_Field_Goals_Attempted      float64
3-Point_Field_Goal_Percentage      float64
2-Point_Field_Goals_Made           float64
2-Point_Field_Goals_Attempted      float64
2-Point_Field_Goal_Percentage      float64
Effective_Field_Goal_Percentage    float64
Free_Throws_Made                   float64
Free_Throws_Attempted              float64
Free_Throw_Percentage              float64
Offensive_Rebounds                 float64
Defensive_Rebounds                 float64
Rebounds                           float64
Assists                            float64
Steals                             float64
Blocks                             float64
Turnovers                          float64
Personal_Fouls                     float64
Points_Scored                      float64
Season_Year                          int64
Points_Won                         float64
Maximum_Points_Possible            float64
MVP_Share                          float64
Full_Team_Name                      string
Wins                               float64
Losses                             float64
Win_Loss_Percentage                float64
Games_Behind                       float64
Points_Scored_per_Game             float64
Points_Allowed_per_Game            float64
Simple_Rating_System               float64
dtype: object

In [78]:
# Renommer les colonnes en minuscules et remplacer les caractères spéciaux
stats.columns = stats.columns.str.lower().str.replace('-', '_').str.replace(' ', '_')

# Vérification des nouveaux noms de colonnes
print("Noms des colonnes après renommage :")
print(stats.columns)

# Exemple de DataFrame avec les nouveaux noms de colonnes
print(stats.head())

Noms des colonnes après renommage :
Index(['player_name', 'player_age', 'team_name', 'position', 'games_played',
       'games_started', 'minutes_played', 'field_goals_made',
       'field_goals_attempted', 'field_goal_percentage', 'threepoint_made',
       '3_point_field_goals_attempted', '3_point_field_goal_percentage',
       '2_point_field_goals_made', '2_point_field_goals_attempted',
       '2_point_field_goal_percentage', 'effective_field_goal_percentage',
       'free_throws_made', 'free_throws_attempted', 'free_throw_percentage',
       'offensive_rebounds', 'defensive_rebounds', 'rebounds', 'assists',
       'steals', 'blocks', 'turnovers', 'personal_fouls', 'points_scored',
       'season_year', 'points_won', 'maximum_points_possible', 'mvp_share',
       'full_team_name', 'wins', 'losses', 'win_loss_percentage',
       'games_behind', 'points_scored_per_game', 'points_allowed_per_game',
       'simple_rating_system'],
      dtype='object')
      player_name  player_age team_name position  games_played  games_started  \
0      A.C. Green          27       LAL       PF          82.0           21.0
1     Byron Scott          29       LAL       SG          82.0           82.0
2  Elden Campbell          22       LAL       PF          52.0            0.0
3   Irving Thomas          25       LAL       PF          26.0            0.0
4    James Worthy          29       LAL       SF          78.0           74.0

   minutes_played  field_goals_made  field_goals_attempted  \
0            26.4               3.1                    6.6
1            32.1               6.1                   12.8
2             7.3               1.1                    2.4
3             4.2               0.7                    1.9
4            38.6               9.2                   18.7

   field_goal_percentage  ...  maximum_points_possible  mvp_share  \
0                  0.476  ...                      0.0        0.0
1                  0.477  ...                      0.0        0.0
2                  0.455  ...                      0.0        0.0
3                  0.340  ...                      0.0        0.0
4                  0.492  ...                      0.0        0.0

       full_team_name  wins  losses  win_loss_percentage  games_behind  \
0  Los Angeles Lakers  58.0    24.0                0.707           5.0
1  Los Angeles Lakers  58.0    24.0                0.707           5.0
2  Los Angeles Lakers  58.0    24.0                0.707           5.0
3  Los Angeles Lakers  58.0    24.0                0.707           5.0
4  Los Angeles Lakers  58.0    24.0                0.707           5.0

   points_scored_per_game  points_allowed_per_game  simple_rating_system
0                   106.3                     99.6                  6.73
1                   106.3                     99.6                  6.73
2                   106.3                     99.6                  6.73
3                   106.3                     99.6                  6.73
4                   106.3                     99.6                  6.73

[5 rows x 41 columns]

In [79]:
# Liste des colonnes à supprimer
columns_to_drop = [
    '3_point_field_goals_attempted', '3_point_field_goal_percentage', '2_point_field_goals_made',
    '2_point_field_goals_attempted', '2_point_field_goal_percentage', 'effective_field_goal_percentage',
    'free_throws_made', 'free_throws_attempted', 'free_throw_percentage', 'offensive_rebounds',
    'defensive_rebounds', 'turnovers', 'personal_fouls', 'points_won', 'maximum_points_possible',
    'mvp_share', 'games_behind'
]

# Supprimer les colonnes de la DataFrame
stats.drop(columns=columns_to_drop, inplace=True)

# Vérifier le résultat
print(stats.head())  # Affiche les premières lignes de la DataFrame après suppression des colonnes

      player_name  player_age team_name position  games_played  games_started  \
0      A.C. Green          27       LAL       PF          82.0           21.0
1     Byron Scott          29       LAL       SG          82.0           82.0
2  Elden Campbell          22       LAL       PF          52.0            0.0
3   Irving Thomas          25       LAL       PF          26.0            0.0
4    James Worthy          29       LAL       SF          78.0           74.0

   minutes_played  field_goals_made  field_goals_attempted  \
0            26.4               3.1                    6.6
1            32.1               6.1                   12.8
2             7.3               1.1                    2.4
3             4.2               0.7                    1.9
4            38.6               9.2                   18.7

   field_goal_percentage  ...  blocks  points_scored  season_year  \
0                  0.476  ...     0.3            9.1         1991
1                  0.477  ...     0.3           14.5         1991
2                  0.455  ...     0.7            2.8         1991
3                  0.340  ...     0.0            1.8         1991
4                  0.492  ...     0.4           21.4         1991

       full_team_name  wins  losses  win_loss_percentage  \
0  Los Angeles Lakers  58.0    24.0                0.707
1  Los Angeles Lakers  58.0    24.0                0.707
2  Los Angeles Lakers  58.0    24.0                0.707
3  Los Angeles Lakers  58.0    24.0                0.707
4  Los Angeles Lakers  58.0    24.0                0.707

  points_scored_per_game  points_allowed_per_game  simple_rating_system
0                  106.3                     99.6                  6.73
1                  106.3                     99.6                  6.73
2                  106.3                     99.6                  6.73
3                  106.3                     99.6                  6.73
4                  106.3                     99.6                  6.73

[5 rows x 24 columns]

In [228]:
stats.to_csv("Basketball_Dataset_Final.csv")

# 3/ Partie Loading

In [80]:
import pyodbc
from sqlalchemy import create_engine

# Définir les informations de connexion
server = 'LAPTOP-2QFOAGRF'  # Nom de votre serveur SQL Server
database = 'Basketball_Project'  # Nom de votre base de données
driver = 'ODBC Driver 17 for SQL Server'  # Pilote ODBC pour SQL Server

# Construire la chaîne de connexion avec l'authentification Windows
conn_str = f'DRIVER={driver};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

try:
    # Créer une connexion engine
    engine = create_engine(f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver={driver}')
    print("Connexion engine à la base de données réussie.")
except Exception as e:
    print("Erreur lors de la création de la connexion engine:", e)

Connexion engine à la base de données réussie.

In [81]:
# 1. Insérer les données dans `dim_player`
def insert_into_dim_player(df, engine):
    # Sélectionner les colonnes nécessaires
    player_data = df[['player_name', 'player_age', 'position']].drop_duplicates()
    
    # Insérer dans SQL Server
    try:
        player_data.to_sql('dim_player', con=engine, if_exists='append', index=False)
        print("Données insérées dans dim_player.")
    except Exception as e:
        print(f"Erreur lors de l'insertion dans dim_player : {e}")

# 2. Insérer les données dans `dim_team`
def insert_into_dim_team(df, engine):
    # Sélectionner les colonnes nécessaires
    team_data = df[['team_name', 'full_team_name']].drop_duplicates()
    
    # Insérer dans SQL Server
    try:
        team_data.to_sql('dim_team', con=engine, if_exists='append', index=False)
        print("Données insérées dans dim_team.")
    except Exception as e:
        print(f"Erreur lors de l'insertion dans dim_team : {e}")

# 3. Insérer les données dans `dim_season`
def insert_into_dim_season(df, engine):
    # Sélectionner les colonnes nécessaires
    season_data = df[['season_year']].drop_duplicates()
    
    # Insérer dans SQL Server
    try:
        season_data.to_sql('dim_season', con=engine, if_exists='append', index=False)
        print("Données insérées dans dim_season.")
    except Exception as e:
        print(f"Erreur lors de l'insertion dans dim_season : {e}")

# 4. Appeler les fonctions d'insertion
insert_into_dim_player(stats, engine)
insert_into_dim_team(stats, engine)
insert_into_dim_season(stats, engine)

Données insérées dans dim_player.
Données insérées dans dim_team.
Données insérées dans dim_season.

In [82]:
# 1. Insérer les données dans `fact_stats`
def insert_into_fact_stats(df, engine):
    """
    Insère les données dans la table fact_stats en se basant sur les clés étrangères des tables de dimension.
    """
    try:
        # Mapper les IDs des dimensions pour chaque ligne
        query_player = "SELECT player_id, player_name FROM dim_player;"
        query_team = "SELECT team_id, team_name FROM dim_team;"
        query_season = "SELECT season_id, season_year FROM dim_season;"
        
        # Charger les données des dimensions
        with engine.connect() as conn:
            dim_player = pd.read_sql(query_player, conn)
            dim_team = pd.read_sql(query_team, conn)
            dim_season = pd.read_sql(query_season, conn)
        
        # Mapper player_id
        df = df.merge(dim_player, left_on='player_name', right_on='player_name', how='inner')
        
        # Mapper team_id
        df = df.merge(dim_team, left_on='team_name', right_on='team_name', how='inner')
        
        # Mapper season_id
        df = df.merge(dim_season, left_on='season_year', right_on='season_year', how='inner')
        
        # Sélectionner les colonnes nécessaires pour la table des faits
        fact_data = df[[
            'player_id', 'team_id', 'season_id', 
            'games_played', 'minutes_played', 'field_goals_made',
            'field_goals_attempted', 'field_goal_percentage', 'threepoint_made',
            'points_scored', 'rebounds', 'assists', 'steals', 'blocks', 
            'wins', 'losses', 'win_loss_percentage', 
            'points_scored_per_game', 'points_allowed_per_game', 
            'simple_rating_system', 'games_started'
        ]]
        
        # Insérer dans SQL Server
        fact_data.to_sql('fact_stats', con=engine, if_exists='append', index=False)
        print("Données insérées dans fact_stats.")
    
    except Exception as e:
        print(f"Erreur lors de l'insertion dans fact_stats : {e}")

# 2. Appeler la fonction pour insérer les données dans la table des faits
insert_into_fact_stats(stats, engine)

Données insérées dans fact_stats.